

.background {
    background-color: #3A4660;
    height: 60px;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.move {
    color: white;
    text-decoration: none;
    position: relative;
    top: 5px;
    animation: moveAcross 4s linear infinite;
    font-size: 35px;
    animation-delay: -3s;
    animation-duration: 10s;
   
  }


@keyframes moveAcross {
    0% {
      left: -100px;
    }
    100% {
      left: 100%;
    }
  }


  @media only screen and (max-width: 900px) {
    .background {
      bottom: 45px;
      height: 40px;
    }

    .move {
      font-size: 25px;
      top: 0px;
    }
  }
