.page-footer {
    background:#FB843D;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5%;
    width:100%;
    border-top: outset black;
    z-index: 100;
}

a:link {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

  @media only screen and (max-width: 470px) {

    .page-footer {
        height: 50px;
        font-size: 12px;
    }

}