.navbar {
    position: fixed;
    background: #FB843D;
    border-bottom: solid;
    border-color: black;
    font-family: 'Pacifico', cursive;
    color: white;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    
}
