.navbar {
    position: fixed;
    background: #ed8a63;
    border-style: outset black;
    font-family: 'Pacifico', cursive;
    color: white;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    
}
