#about-cont {
    background: #3a4660;
    margin-top: 200px;
    word-wrap: break-word;
    color: white;
    border-radius: 5px;
    height: 75%;
    margin-bottom: 200px;
    border-style: outset;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    
}

.row {
    margin: 0 auto;
}


.box {
    padding: 25px;
}


h2 {
    border-bottom: white;
    margin-top: 10px;
}




@media only screen and (max-width: 768px) {

    #about-cont {
        width: 80%;
        height: 120%;
    }

    h1{
        font-size: 40px;
    }

    h2{
        font-size: 30px;
    }

  }

  @media only screen and (max-width: 470px) {

    #about-cont {
        height: 230%
    }

}