#tenant-view-cont {
    width: 60%;
    background: #7C889E;
    margin-top: 75px;
    border-style: outset;
    border-radius: 10px;
    padding: 20px;
    color: white;
    box-shadow: 10px 10px 5px  rgba(0, 0, 0, 0.4);
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    
}