
#message-modal {
    background: #3a4660; 
}
#message-modal-header {
    background: #3a4660; 
    color: white;
}

#message-delete {
background: #c9af98;
float: right;
padding: 0;
color: black;
border-style: none;
}


#messages {
    background: #c9af98;
    margin-top: 5px;
    width: 100%;
    border-style: outset;
    border-radius: 10px;
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;

}

#message-view-cont {
    width: 100%;
    background: #3a4660;
    margin-top: 75px;
    border-style: outset;
    border-radius: 10px;
    padding: 20px;
    color: white;
    box-shadow: 10px 10px 5px  rgba(0, 0, 0, 0.4);
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 150px;
}
#date {
    font-size: 13px;
    float: right;
    
}

#user-post {
    border-top:solid;
    font-size: 20px;
}

#time {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    border-bottom: solid;
}

@media only screen and (max-width: 900px) {
    #message {
      font-size: 15px;
    }
    #time {
        font-size: 15px;
    }
    #user-post {
        font-size: 15px;
    }
  }
  
  @media only screen and (max-width: 667px) {
    #message {
      font-size: 10px;
    }
    #time {
        font-size: 10px;
    }
    #user-post {
        font-size: 10px;
    }
  }
  
  
  @media only screen and (max-width: 400px) {
      #message {
        font-size: 7px;
      }
      #time {
          font-size: 7px;
      }
      #user-post {
          font-size: 7px;
      }
    }