#button-row {
    width: 100%;
    color: white;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

#button-cont {
    background: #3a4660;
    margin-top: 100px;  
    width: 60%;
    border-style: outset;
    border-radius: 10px;
    color: white;
    font-family: 'Karla', sans-serif;
    text-align: center;
    padding: 30px;
}


@media only screen and (max-width: 750px) {

    #button-cont {
        width: 80%;
        
    }

}