
.btn {
    background: lightgrey;
    margin-top: 15px;
    color: black;
    width: 20%;
    border-color: #3a4660;
    
}

.btn:hover {
    border-color: #3a4660;
    box-shadow: 5px 5px 5px #3a4660;
}

#btn-logout {
 padding: 10px;
}

#login-cont {
    width: 45%;
    background: #3a4660;
    margin-top: 75px;
    border-style: outset;
    border-radius: 10px;
    padding: 20px;
    color: white;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    
}

h1 {
    border-bottom: solid white;
    margin-bottom: 15px;
}

@media only screen and (max-width: 770px) {
    .btn {
        width: 100%;
    }
    h1 {
        font-size: 80%;
    }
    .subheader {
        font-size: 65%;
        
    }
    #login-cont {
        width: 80%;
    }
  }